.text {
  color: rgb(220, 231, 255);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  margin: 70px auto 0 auto;
  color: rgb(19, 38, 78);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  background: rgb(0, 44, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 44, 255, 1) 21%,
    rgba(231, 217, 46, 1) 72%
  );
  border-radius: 6px;
}

.support:hover,
.support:focus {
  color: rgb(220, 231, 255);
  background: rgb(16, 22, 54);
  background: linear-gradient(180deg, rgb(16, 22, 54) 21%, rgb(58, 55, 13) 72%);
}
